{% extends '::attendance-layout.html.twig' %}

{% block body %}
    <form class="form-signin" action="{{ path('app_attendance_doAttendance') }}" method="post">
        <div class="form-group">{{ form_widget(form.commentByUser, { 'attr': { 'class': 'form-control', 'placeholder':'Comentari opcional', 'style': 'width:100%; resize:none;', 'rows': '3', 'draggable': 'false' } }) }}</div>
        {{ form_rest(form) }}
        {{ form_widget(form.entradaBtn) }}
        {{ form_widget(form.sortidaBtn) }}
        {{ form_widget(form.absenciaBtn) }}
    </form>

{% endblock %}