{% extends '::admin-area-layout.html.twig' %}

{% block headTitle %}{{ title }}{% endblock %}

{% block body %}
    <form action="{{ action }}" method="post" novalidate>
        <div class="row">
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-2">
                        {{ form_row(form.isActive) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_row(form.isAdmin) }}
                    </div>
                    <div class="col-md-8"></div>
                </div> <!-- row -->


                {{ form_row(form.forename) }}

                {{ form_row(form.surname) }}

                {{ form_row(form.username) }}

                {{ form_row(form.plainPassword) }}

            </div> <!-- End First Column -->

            <div class="col-md-4"> <!-- Begin Column2 -->

                <div class="row">
                    <div class="col-md-5">
                        {{ form_row(form.mondayIn) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.mondayOut) }}
                    </div>
                    <div class="col-md-2"></div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-5">
                        {{ form_row(form.tuesdayIn) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.tuesdayOut) }}
                    </div>
                    <div class="col-md-2"></div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-5">
                        {{ form_row(form.wednesdayIn) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.wednesdayOut) }}
                    </div>
                    <div class="col-md-2"></div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-5">
                        {{ form_row(form.thursdayIn) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.thursdayOut) }}
                    </div>
                    <div class="col-md-2"></div>
                </div> <!-- row -->

                <div class="row">
                    <div class="col-md-5">
                        {{ form_row(form.fridayIn) }}
                    </div>
                    <div class="col-md-5">
                        {{ form_row(form.fridayOut) }}
                    </div>
                    <div class="col-md-2"></div>
                </div> <!-- row -->

            </div> <!-- End Column2 -->
        </div>

        <div class="row">
            <div class="col-md-8">
                {{ form_rest(form) }}
                {{ form_widget(form.newUserBtn) }}
            </div>
            <div class="col-md-4">

            </div>
        </div> <!-- row -->

    </form>
{% endblock %}