<div class="rounded-box margin-bottom-lg">
    <div class="row">
        <div class="col-md-8">
            <div class="row margin-bottom-lg">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <b>Name:</b>
                        </div>
                        <div class="col-md-5">
                            {{ user.forename }} {{ user.surname }}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div> <!-- row -->

                    <div class="row">
                        <div class="col-md-3">
                            <b>Username:</b>
                        </div>
                        <div class="col-md-5">
                            {{ user.username }}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div> <!-- row -->

                    <hr>

                    <div class="row">
                        <div class="col-md-2">
                            <b>Entrades:</b>
                        </div>
                        <div class="col-md-10">
                            {{ user.mondayIn|date('H:i') }} | {{ user.tuesdayIn|date('H:i') }} |
                            {{ user.wednesdayIn|date('H:i') }}  | {{ user.thursdayIn|date('H:i') }} |
                            {{ user.fridayIn|date('H:i') }}
                        </div>
                    </div> <!-- row -->

                    <div class="row">
                        <div class="col-md-2">
                            <b>Sortides:</b>
                        </div>
                        <div class="col-md-10">
                            {{ user.mondayOut|date('H:i') }} | {{ user.tuesdayOut|date('H:i') }} |
                            {{ user.wednesdayOut|date('H:i') }}  | {{ user.thursdayOut|date('H:i') }} |
                            {{ user.fridayOut|date('H:i') }}
                        </div>
                    </div> <!-- row -->
                </div>

                <div class="col-md-4">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row">
                            <div class="col-md-12">
                                <b>Created:</b> {{ user.createdAt|date('d/m/Y') }}
                            </div>
                        </div> <!-- row -->

                        <div class="row">
                            <div class="col-md-12">
                                {% if user.createdAt|date("d/m/Y H:i:s") < user.updatedAt|date("d/m/Y H:i:s") %}
                                    <b>Updated:</b> {{ user.updatedAt|date('d/m/Y') }}
                                {% endif %}
                            </div>
                        </div> <!-- row -->

                        <div class="row">
                            <div class="col-md-12">
                                {% if user.hasRole('ROLE_ADMIN') %}
                                    <b class="alert-warning">ROLE_ADMIN</b>
                                {% endif %}
                            </div>
                        </div> <!-- row -->
                    {% endif %}
                </div>
            </div> <!-- row -->

            <div class="row margin-bottom-sm">
                <div class="col-md-12">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-lg btn-default" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Edit</a>
                    <a class="btn btn-lg btn-default" href="{{ path('app_admin_user_remove', {'id': user.id}) }}">Remove</a>
                    {% endif %}
                </div>
            </div> <!-- row -->
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-lg btn-default btn-block" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Entrades</a>
            <a class="btn btn-lg btn-default btn-block" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Sortides</a>
            <a class="btn btn-lg btn-default btn-block" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Absències</a>
        </div>
    </div> <!-- row -->
</div>